// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img#artists {
  max-width: 300px;
  max-height: 300px;
}

div.artists {
  margin: 15px;
  background-size: 350px;
  background-position: middle;
  background-repeat: none;
  height: 350px;
  width: 350px;
  overflow: hidden;
}

.artists h1 {
  color: rgb(29, 30, 26);
}