// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img#artists {
  max-width: 300px;
  max-height: 300px;
}

div.artists {
  margin: 5px;
  margin-bottom: 200px;
  background-size: 300px;
  background-position: center;
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.artists h1 {
  height: 200px;
  width: 200px;
}

ul.genres {
  visibility: show;
  margin-top: -200px;
  text-align: center;
}