body h1, h2, p {
  text-align: center;
}

#header {
  margin-top: 7%;
}

div#search_form {
  padding-top: 50px;
}

input#input_query {
  height: 50px;
}

input#submit {
  width: 200px;
  height: 50px;
  margin-top: 15px;
  margin-left: 30%;
}

div#search_result {
  padding-top: 0px;
}

img#artist_image {
  max-height: 400px;
  max-width: 400px;
}

#artist_bio {
  margin-top: 30px;
}

h1#biggest_text {
  font-size: 100px;
}

h1#big_text {
  font-size: 50px;
}

a#reset_artist {
}