.top_index {
  text-align: center;
  margin-top: 10%;
}

img#header_image {
  margin-right: auto;
  margin-left: auto;
}

div#search_form {
  padding-top: 50px;
}

input#inputQuery {
  height: 50px;
}

div#search_result {
  padding-top: 400px;
}