<h1>Browse Artists</h1>
<p>Here are all the top artists our users have listened to this month.</p>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 artists image" ng-repeat="artist in artists.all">
      <div class="artists overlay" style="background-image:url({{ artist.image }})">
        <h3><a href="{{ artist.link }}" target="_blank">{{ artist.name }}</a></h3>
        <spotify info="artist"></spotify>
      </div>
    </div>
  </div>
</div>
