<div class="container">
  <div class="row">
  <div class="col-lg-8">

    <h1>{{ artist.name }}</h1>
    <p><a href="{{ artist.link }}">Spotify Profile</a></p>
    <img id="artist_image" class="responsive-block" src="{{ artist.image }}">

  </div>
</div>
</div>