<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Genre</th>
        <th>Artists</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="genre in genres.all | filter: search">
        <td><a href="#/genre/{{ genre.id }}">{{ genre.name }}</a></td>
        <td><a ng-repeat="artist in genre.artists" href="#/artist/{{ artist.id }}">{{ artist.name }} </td>
      </tr>
    </tbody>
  </table>
</div>