<h1>Browse Genres</h1>
<p>Here are all the top genres our users have listened to this month.</p>

<div class="container">
  <div class="row">
  <input placeholder="Search for a genre" ng-model="search" class="form-control">
    <!-- renders the nested genres.list.html -->
    <div ui-view> 
  </div>
</div>

