<h1>Browse Genres</h1>
<p>Here are all the top genres our users have listened to this month.</p>

<div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="genre in genres.all">
      <h1>{{ genre.name }}</a></h1>
      <ul>
        <li ng-repeat="artist in genre.artists"><a href="{{ artist.link }}">{{ artist.name }}</a></li>
      </ul>
  </div>
  </div>
</div>