<div class="container">

  <div class="row">
    <div class="col-sm-12 col-lg-12" id="header">
    <h1>How much money do artists make on Spotify?</h1>
    <h2>Find out for yourself!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6  col-md-offset-3 col-lg-offset-3" id="search_form">
      <form ng-submit="home.submit()" >
        <input type="text" id="input_query" class="form-control" placeholder="Enter an Artist You Love" required="required" ng-model="home.query">
        <input type="submit" id="submit" class="btn btn-primary btn-lg" value="$earch">
      </form>
    </div>
  </div>

  <div class="row" id="search_result" ng-if="home.artist">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h1 id="biggest_text">{{ home.spotifyName }}</h1>
    <p><a id="reset_artist" href="#">Something look wrong?</a></p>
    </div>
  </div>

  <div class="row" ng-if="home.artist">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <img id="artist_image" class="img-circle center-block" src="{{ home.spotifyImage }}">
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12">
        <h2>{{ home.playcount }} estimated plays</h2>
        <h2>$ {{ home.earnings }} total earnings</h2>
        <p id="artist_bio" ng-bind-html="home.bio"></p>
    </div>
  </div>

  <div class="row" ng-if="home.artist">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h1 id="big_text">the {{home.verb}} of these {{home.noun}}:</h1>
    <h4>Click to listen.</h4>
    </div>
  </div>

  <div class="row">
  <div ng-if="home.tracks" ng-repeat="track in home.tracks">
  <div class="col-lg-3 col-md-4 col-xs-6">
      <spotify info="track"></spotify>
  </div>
  </div>
  </div>

</div>