<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12">
    <h1>Check Your Top Artists</h1>
    <p>Get a custom chart of the earnings of your favorite artists this month.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 col-lg-offset-2 col-md-7 col-md-offset-2 ">
      <canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels">
      </canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-3">
      <a class="btn btn-large btn-block btn-primary" href="/users/auth/spotify" role="button">Log into Spotify</a>
    </div>
  </div>
</div>