<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <div class="navbar-collapse collapse">
    <div class="container">
      <a class="navbar-brand active" ui-sref="home">$$$potify</a>
      <ul class="nav navbar-nav">
        <li><a ui-sref="artists">Artists</a></li>
        <li><a ui-sref="genres.list">Genres</a></li>
        <li><a ui-sref="about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="login">Login</a></li> 
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
    <%= image_tag("logo.png", :alt => "spotify logo", :id => "header_image", :class=> "block-image") %>
    </div>
  </div>
</div>
