<h1>{{ user.username}}'s Top Artists</h1>
<p>Check it out! Here's how much money your top five artists are making through Spotify steaming.</p>

<div class="container">
  <div class="row">
    <div class="col-lg-9 col-lg-offset-1 col-md-7 col-md-offset-2">
      <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels">
      </canvas>
    </div>
  </div>  
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 artists image" ng-repeat="artist in user.all">
      <div class="artists overlay" style="background-image:url({{ artist.image }})">
        <h3><a href="#/artist/{{ artist.id }}" target="_blank">{{ artist.name }}</a></h3>
      </div>
    </div>
  </div>
</div>