<h1>{{ user.username}}'s Top Artists</h1>
<p>Check it out! Here's how much money your top five artists are making through Spotify steaming.</p>

<div class="container">
  <div class="row">
    <div class="col-lg-9 col-lg-offset-1 col-md-7 col-md-offset-2">
      <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels">
      </canvas>
    </div>
  </div>
</div>